<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATLAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body ng-app="atlasApp">
    <div class="d-flex" id="wrapper" ng-controller="MainController">
        <!-- Sidebar -->
        <div class="mt-5 border-right sidebar ng-cloak" id="sidebar-wrapper" ng-show="selected">
            <div class="sidebar-heading mt-2" style="color: #adb5bd;"><i class="fas fa-tachometer-alt mr-2"></i>Dashboard
            </div>
            <div class="menu-heading">Gateways</div>
            <div class="list-group list-group-flush bg-dark nav">
                <a href="#!/management" class="list-group-item list-group-item-action sideNav-link"><i
                        class="fas fa-briefcase ml-1 mr-2"></i>Management</a>
                <a href="#!/gateways" class="list-group-item list-group-item-action sideNav-link"><i
                        class="fas fa-table ml-1 mr-2"></i>Tables</a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#" ng-click="hideNav()">ATLAS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#!/" ng-click="hideNav()">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-href="#!/gateways" ng-click="showNav()">Gateways</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="mt-5 pt-3 mb-1 mx-3 ng-cloak" ng-show="selected">
            </div>
            <div ng-view="" class="min-vh-100"></div>
        </div>
    </div>
    <footer class="py-2 bg-dark">
        <div class="container mb-0">
            <p class="text-center text-white">Copyright &copy; Atlas 2020</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://cdn.zingchart.com/angular/zingchart-angularjs.js"></script>

    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>

    <script src="../js/main.js"></script>
    <script src="../js/controller/clientListController.js"></script>
    <script src="../js/controller/gatewayListController.js"></script>
    <script src="../js/controller/clientDetailsController.js"></script>
    <script src="../js/controller/chartsController.js"></script>
    <script src="../js/service/gateway_service.js"></script>
</body>
</html>