<section class="py-5">
    <div class="container generic-container mx-auto w-70">
        <div class="card">
            <div class="card-header"><span class="lead">ATLAS Gateways</span></div>
            <div class="form-container card-body">
                <form ng-submit="submit()" name="addForm">
                    <div class="form-group row">
                        <label for="alias" class="col-sm-2 col-form-label">Gateway Alias</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="gateway.alias" id="alias" name="alias"
                                   class="form-control form-control-sm"
                                   placeholder="Enter the alias of the gateway" required
                                   ng-minlength="3"
                                   ng-style="{'border': duplicateKey === 'alias' ? '2px solid #A83324' : 'none'}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="identity" class="col-sm-2 col-form-label">Gateway Identity</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="gateway.identity" id="identity" name="identity"
                                   class="form-control form-control-sm" placeholder="Enter the identity of the gateway"
                                   required
                                   ng-minlength="3"
                                   ng-style="{'border': duplicateKey === 'identity' ? '2px solid #A83324' : 'none'}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="psk" class="col-sm-2 col-form-label">Gateway PSK</label>
                        <div class="col-sm-7">
                            <input type="text" ng-model="gateway.psk" id="psk" name="psk"
                                   class="form-control form-control-sm" placeholder="Enter the PSK of the gateway"
                                   required
                                   ng-style="{'border': duplicateKey === 'psk' ? '2px solid #A83324' : 'none'}"/>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-3" ng-if="!alertSuccessAdd && !alertFailureAdd">
                            <input type="submit" class="btn btn-success btn-sm"
                                   ng-disabled="addForm.$invalid" value="Add gateway">
                            <button type="button" ng-click="reset()" class="btn btn-dark btn-sm"
                                    ng-disabled="addForm.$pristine">Reset
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-success" ng-show="alertSuccessAdd">
                        <strong>Success!</strong> The gateway was added successfully!
                    </div>
                    <div class="alert alert-danger" ng-show="alertFailureAdd">
                        <strong>Failure!</strong> The gateway was not added! The value
                        <strong>{{duplicateValue}}</strong> for key <strong>{{duplicateKey}}</strong> already exists!
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
